#imga  {
    float:right;
    width: 50px;
    height:50px;
    position: absolute;
    top:600px;
    left: 620px;
    width: 50px;

    
}

#imge {
    float:right;
    width: 50px;
    height:50px;
    position: absolute;
    top:117%;
    left: 20px;
    width: 50px;}

    #imges {
        float:right;
    width: 50px;
    height:50px;
    position: absolute;
    top:117%;
    left: 20px;
    width: 50px;}

    
